.tiles {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding-top: 145px;
  overflow: auto;
  background: #333;

  &:after {
    position: fixed;
    display: block;
    content: "";
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: #008C8C;
  }

  .inner {
    padding: 10px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 980px) {
  .tiles {
  padding-top: 30px;
    .inner {
      padding: 50px;
    }
  }
}
