.tiles {

  .tile {
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;

    .inner {
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 12px 0 #000;
    }

    a {
      display: block;
    }

    .text-container {
      position: absolute;
      text-align: center;
      transition: all 0.5s;
      top: 100%;
      left: 0;
      right: 0;
      max-height: 50px;
      height: 100%;
      transform: translateY(-50px);
      background: transparentize(#000, 0.3);

      .title {
        display: block;
        color: #fff;
        height: 50px;
        line-height: 50px;
      }
    }

    .inner {
      padding: 0;
    }

    .thumb {
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 300px;

      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000;
      }

    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
    }
  }
}

@media (min-width: 768px) {
  .tiles {
    .tile {
      max-width: none;
      float: left;
      width: 33.333333%;

      .inner {
        // padding: 10px;
      }
    }
  }
}

@media (min-width: 980px) {
  .tiles {
    .tile {
      &:hover {
        .text-container {
          background: transparentize(#000, 0.1);
          max-height: none;
          top: 50px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .tiles {
    .tile {
      width: 25%;
    }
  }
}
