.search {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 0 50px;
  height: 70px;
  line-height: 70px;
  // box-shadow: 0 11px 24px -6px #000;
  background: #008C8C;
  border-bottom: 10px solid #000;
  color: #fff;
  
  .search-field {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 50%;
    padding: 0 50px;
    margin: 0;
  }
  
  .auto-text {
    pointer-events: none;
    position: absolute;
    left: 50px;
    top: 50%;
    font-size: 25px;
    transform: translateY(-50%);
    
    &.hidden {
      display: none;
    }
  }

  input {
    box-sizing: border-box;
    vertical-align: middle;
    background: transparentize(#fff, 0.7);
    border-radius: 1px;
    border: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    color: #fff;
    font-size: 25px;
    padding: 0 30px;

    &:focus {
      border: 0;
      box-shadow: none;
      outline: none;
    }
  }
}
